<table>
<tr><th>Account</th><th>ID</th></tr>
<% @accounts.each do |account| %>
  <tr>
     <td><%= account.Name %></td> 
     <td><%= account.Id %></td>
  </tr>
<% end %>
</table>  
<br/>
<table>
<tr><th>Account</th><th>ID</th><th>Description</th></tr>
<% lcaccounts.each do |acc| %>
  <tr>
     <td><%= acc.Name %></td> 
     <td><%= acc.Id %></td>
     <td><%= acc.Description %></td>
  </tr>
<% end %>
</table>  